PLATFORM_SERVICE_HOST=http://127.0.0.1
PLATFORM_SERVICE_PORT=3001
PLATFORM_SERVICE_API_KEY=

X2TEXT_HOST=http://localhost
X2TEXT_PORT=3004

LLM_TEST_VALUES=["", "", ""]
EMBEDDING_TEST_VALUES=["", "", ""]
VECTOR_DB_TEST_VALUES=["", "", ""]
OCR_TEST_VALUES=["", ""]
X2TEXT_TEST_VALUES=["", ""]

READ_FOLDER_PATH=fsspec-test/input
WRITE_FOLDER_PATH=fsspec-test/output
RECURSION_FOLDER_PATH=fsspec-test/output/recursion-test
READ_PDF_FILE=fsspec-test/input/2.pdf
READ_TEXT_FILE=fsspec-test/input/1.txt
WRITE_PDF_FILE=fsspec-test/output/2.pdf
WRITE_TEXT_FILE=fsspec-test/output/1.txt
TEST_FOLDER=fsspec-test/test-folder
GCS_BUCKET=fsspec-test/input
TEXT_CONTENT=Writing directly from string as read_file is not passed
FILE_STORAGE_GCS='{"token": "/path/to/google/creds.json"}'
FILE_STORAGE_MINIO='{"endpoint_url": "http://localhost:9000","key": "xxxx", "secret": "xxxx"}'
FILE_STORAGE_LOCAL='{"auto_mkdir": True}'
FILE_STORAGE_AZURE = '{"azure_account_name":"xxxx","azure_access_key":"XXX","connection_string":"xxxx","azure_bucket_name":"fsspec-test"}'
FILE_STORAGE_S3 = '{"s3_key":'xxxx',"s3_secret":'XXXX',"s3_bucket":'fsspec-test',"s3_endpoint":'https://s3.ap-south-1.amazonaws.com/',"s3_region":'ap-south-1'}'
TEST_PERMANENT_STORAGE_GCS='{"provider": "gcs", "credentials": {"token": "/path/to/google/creds.json"}}'
TEST_TEMPORARY_STORAGE='{"provider": "minio", "credentials": {"endpoint_url": "http://unstract-minio:9000", "key": "xxxx", "secret": "xxxx"}}'
TEST_LOCAL_STORAGE='{"provider":"local"}'
TEST_PERMANENT_STORAGE_AZURE = '{"provider": "abfs", "credentials": {"azure_account_name":"unstractpocstorage","azure_access_key":"xxxx","azure_bucket_name":"fsspec-test","connection_string":"xxxx"}}'
