PLATFORM_SERVICE_HOST=http://127.0.0.1
PLATFORM_SERVICE_PORT=3001
PLATFORM_SERVICE_API_KEY=

X2TEXT_HOST=http://localhost
X2TEXT_PORT=3004

LLM_TEST_VALUES=["", "", ""]
EMBEDDING_TEST_VALUES=["", "", ""]
VECTOR_DB_TEST_VALUES=["", "", ""]
OCR_TEST_VALUES=["", ""]
X2TEXT_TEST_VALUES=["", ""]
