PLATFORM_SERVICE_HOST=http://127.0.0.1
PLATFORM_SERVICE_PORT=3001
PLATFORM_SERVICE_API_KEY=

X2TEXT_HOST=http://localhost
X2TEXT_PORT=3004

LLM_TEST_VALUES=["", "", ""]
EMBEDDING_TEST_VALUES=["", "", ""]
VECTOR_DB_TEST_VALUES=["", "", ""]
OCR_TEST_VALUES=["", ""]
X2TEXT_TEST_VALUES=["", ""]

READ_FOLDER_PATH=fsspec-test/input
WRITE_FOLDER_PATH=fsspec-test/output
RECURSION_FOLDER_PATH=fsspec-test/output/recursion-test
READ_PDF_FILE=fsspec-test/input/2.pdf
READ_TEXT_FILE=fsspec-test/input/1.txt
WRITE_PDF_FILE=fsspec-test/output/2.pdf
WRITE_TEXT_FILE=fsspec-test/output/1.txt
TEST_FOLDER=fsspec-test/test-folder
GCS_BUCKET=fsspec-test/input
TEXT_CONTENT=Writing directly from string as read_file is not passed
FILE_STORAGE_GCS='{"token": "/path/to/google/creds.json"}'
FILE_STORAGE_MINIO='{"endpoint_url": "http://localhost:9000","key": "minio", "secret": "minio123"}'
